html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	/*outline: 0;*/
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
html {
	background-color:#eeeeee;
}
body {
	line-height: 1;
	color: black;
	overflow: hidden;
	font-family:Arial, Helvetica, sans-serif;
}
#header {
	
	color:black;
	text-align:center;

}

#nav, #result {
	line-height: 2px;
	height: 100%;
	overflow-y: scroll;
	float: left;
	font-size: 12px
}

#result img {
	float: left;
	margin-right: 10px;
}
#result li:after {
	content: " ";
	clear: both;
	display: block;
}
#result li {
	font-size: 12px;
	
	border-bottom: 1px solid #fefefe;
	line-height: 1.4em;
	cursor: pointer;


}

#listContainer{

	overflow: hidden;
		

}

#result li:hover {
  background: -webkit-linear-gradient(#eeeeee, #cecece); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#eeeeee, #cecece); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eeeeee, #cecece); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eeeeee, #cecece); /* Standard syntax */
}

div#map {
	width: 75%;
	float: left;
	margin: 0 auto;	
	position: relativ;
	min-height: 100%;
	border:1px solid black;
}
body, html {
	height:100%;
}
#container {
	height:85%;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.info h5 {
	margin: 0 0 5px;
}
#footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:15px;
}

#slider {
	clear:both;
	width: 30%;
	float: left;
	text-align:center;
	padding:15px;
}


div#logo {
	width: 25%;
	float: left;
	margin: 10px 10px 0;
	float:left;
	background-color: #C9E6FF;
	border:2px solid #fefefe;
}

div#textsearch {
	width: 75%;
	float: left;
	margin: 10px 10px 0;
	float:left;
	border:2px solid #fefefe;
}

div#constraint {
	width: 75%;
	float: left;
	margin: 10px 10px 0;
	
	border:2px solid #fefefe;
}


.wrapper {
  overflow: hidden;
  width: 200px; /* just for demo */
}

.Header
{
    float: left;
    width:100px;
    color: #00F;
    font-weight: bold;
}
.Text
{
    display: block;
    overflow: hidden;
}