

body {
	line-height: 1;
	overflow: hidden; 	
}

div#main {

}

div#header {

    width: 100%;    
    float: left;	    
    position: absolute;
    top: 0px;
    

}
	div#logox {
	    width: 27%;
	    float: left;
	    
	 }

		#logox img{

			display: block;
			padding:10px 20px 0px;
		}

		#logox span{
			font-size: 26px;
			padding: 20px;

		}

	div#search {
	    width:48%;
	    float: left;
	    

	}
		#search input{
				position: relative;	
				display: inline;
		}
		#search input[type="text"]{			
			top:33px;
		
				
			width: 80%;		
		}
		#search input[type="button"]{			
			top:30px;
		}


		div#slider {
			clear:both;
			width: 80%;
			float: left;
			height: 10%;
			padding-top: 0;
			top: 37px;			
		}


	div#logoy {
	    width:25%;
	    float: left;
	    padding: 0px 0px 0px 0px;
	}

div#toolbar {
    width: 100%;    
    height: 20px;
    top: 100px;
    float: left;
    left: 0;
    position: absolute;
    
    
}

	div#mapheader {
	    width: 75%;    
	    float: left;
	    
	}

	div#status {
	    width: 25%;    
	    
	    float: left;
	    text-align:center;
	}

div#display {
    width: 100%;    
    top: 119px;
    bottom: 0;
    left: 0;
    float: left;
    position: absolute;
  
}

	div#properties {
	    width: 12%;  
	    padding: 7px ;
	    float: left;		    
	    overflow-y: auto;
	    height: 100%;
	    top: 107px;
	    
	    line-height: 0;

	}

		#properties button {
		    
		    margin-left: 0;
		    position:relative;
 
		}

	div#map {
		width: 75%;
		float: left;
		margin: 0 auto;	
		min-height: 100%;
		border: 1px solid #B3B2B2;
	}


	div#listContainer {

		height: 100%;
	}

	div#result {
	    width:25%;
	 
	    float: left;
	    height: 100%;
	    overflow-y: auto;
 		border: 1px solid #B3B2B2;
	}

	#result li:hover {
	  background: -webkit-linear-gradient(#eeeeee, #cecece); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(#eeeeee, #cecece); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(#eeeeee, #cecece); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(#eeeeee, #cecece); /* Standard syntax */
	}
	#result img {
		float: left;
		margin-right: 10px;
		border: 1px solid #B3B2B2;
	}
	#result li:after {
		content: " ";
		clear: both;
		display: block;
	}
	#result li {
		font-size: 12px;
		padding: 10px 10px 10px 10px;
		border-bottom: 1px solid #fefefe;
		line-height: 1.4em;
		cursor: pointer;
	}

	#result ul {
		font-size: 12px;
		padding: 0px 0px 0px 0px;
		
	}



#constraintsOverview {
    z-index: 1;
    position: absolute;
    left: 45px;
    top: 131px;
    height: 50px;
    width: 300px;
    border: 1px solid #B3B2B2;
    background-color: #B3B2B2;
    opacity: 0.4;
    padding: 7px;
    color: black;
    display: none;

}


div#zoom {

	top:205px;left:10px;

}
	#zoom a{

		padding:3px 4px;

	}

	#zoom img{

		width: 19px;
    	height: 21px;
	}


div#predicates {

	top:232px;left:10px;

}
	
	#predicates a {

		padding:3px 4px;

	}


	#predicates img {

		width: 19px;
    	height: 21px;

	}

div#bbox {

	top:259px;left:10px;
}	

	#bbox a{

		padding:3px 3px;

	}

	#bbox img{

		width: 21px;
    	height: 21px;
	}


.custom-buttons {
  background:#fff;
  position:absolute;
  z-index:1;
  border-radius:3px;
  border:1px solid rgba(0,0,0,0.4);
  margin-left: auto;
  margin-right: auto;
  width:28px;
  height: 28px;

  text-align:center;
  vertical-align: middle;
  display: inline-block;
  }

.custom-buttons a {
	width:100%;
	height: 100%;
	vertical-align: middle;


	color:#404040;
	display:block;


	text-decoration:none;
	border-bottom:1px solid rgba(0,0,0,0.25);

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

    }
    .custom-buttons img {

  		vertical-align: middle;
	    display: inline-block;
	    padding-left: 0;
	    padding-top: 0;
    	float: left;
    	border; 0;

    }
    .custom-buttons a:first-child {
      border-radius:3px 3px 0 0;
      }
    .custom-buttons a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .custom-buttons a:hover {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.75);
      }
    .custom-buttons a.active {
      background:#FFF;

      }
      .custom-buttons a.active:hover {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.75);

        }

